---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const tags = new Set<string>(allPosts.map((post) => post.data.tags).flat());

  return [...tags].map((tag: string) => ({
    params: { tag },
    props: {
      posts: allPosts.filter((post) => post.data.tags.includes(tag)),
    }
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => 
      <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
    )}
  </ul>
</BaseLayout>