---

import GPXMap from '../components/GPXMap.astro';

import Strava from '../components/Strava.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout pageTitle={"Home Page"}>

  <h2>My awesome blog subtitle</h2>  
  <Strava ids={['13514009143', '13478997879', '13478997879', '13478997879']}></Strava>
  <GPXMap gpx="/lycian-way-2.gpx"/>
</BaseLayout>