---
import { YouTube } from "astro-embed";
import Base from "../layouts/Base.astro";

const videos: { id: string, name: string }[] = [
  {
    name: 'Zaz - Je Veux',
    id: 'https://www.youtube.com/watch?v=UekIdEksu6Y',
  },
  {
    name: 'Заточка - Моя Роза',
    id: 'https://www.youtube.com/watch?v=xyOiEVnUd2g',
  },
  {
    name: 'Браво - Этот Город',
    id: 'https://youtu.be/qnJ3LOAmSbQ',
  },
]
---
<style>

</style>
<Base title="Music">
  <section>
    {videos.map(({ id, name }) => 
      <h3>{name}</h3>
      <p>
        <YouTube posterQuality="high" id={id}></YouTube>
      </p>
    )}
  </section>
</Base>
<style>
  p {
  }
  lite-youtube {
    border-radius: 15px;
  }
  section {
    margin: 50px 0;
  }
</style>
