---
const { ids } = Astro.props;
---
<style>
  #content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
</style>
<div id="content">
  {ids.map((id: string) => 
    <div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id={id} data-style="standard" data-from-embed="false"></div>
    <script src="https://strava-embeds.com/embed.js"></script>
  )}
</div>